body {
  background-color: #EEE;
  font-family: 'Lora', serif;
}

main{
    font-family: 'Lora', serif;
}

h1{
  color: #457cb7;
  margin-top: 50px;
}

#container {
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

 .form-group {
  float: left;
  margin-left: 20px;
  width: 160px;
  height: auto;
}

.form-control {
  position: relative;
  height: 20px;
  font-size: 14px;
  color: #457cb7;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  transition: .5s ease-in-out;
}

.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid #222;
}

label{
  font-weight: bold;
  position: relative;
  top: -35px;
  left: -10px;
  font-size: 15px;
  padding-left: 15px;
  line-height: 50px;
  transition: .5s ease;
}

.form-control:focus + label,
.form-control:valid + label{
  top: -60px;
  padding-left: 15px;
  font-size: 14px;
}

th{
  text-align: center;
}

#result_table{
  display: block;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 750px;
  float: right;
  margin-right: 40px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rbga(0,0,0,0.15);
  /* table-layout: fixed; */
}

.content-table thead tr{
  background-color: #457cb7;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid  #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid  #457cb7;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

#dropdown-block-label {
    font-weight: bold;
    position: relative;
    left: -10px;
    top: -60px;
    font-size: 14px;
    padding-left: 13px;
    line-height: 50px;
    transition: .5s ease;
}

#table-wrapper{
  overflow-x: scroll;
  width: 750px;
}

#wrapper-of-wrapper{
  display: flex;
}

#footer{
  clear: both;
  padding: 10px;
  background-color: #85a0c7;
  color: white ;
  text-align: right;
}


#parameter{
  display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

#country{
  width:148px;
  height:23px;
}

#cp{
  width:148px;
  height:23px;
}

#dropdown{
  width:156px;
  height:23px;
  margin-bottom: 1em;
}

#introduction{
  float:right;
  width: 750px;
  text-align: justify;
  margin-right: 40px;
  line-height: 28px;
}

.image{
  width: 750px;
  float: right;
  padding-bottom: 20px;
}

.math{
  text: 20px;
}

#input{
  margin-top: 45px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  text-decoration: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
